version: '3.8'

services:
  backend-ts:
    # Menggunakan Dockerfile production
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '8080:3000'
      
    env_file:
      - .env