version: '3.8'

services:
  backend-ts:
    # Menggunakan Dockerfile production
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '8080:3000'
    environment:
      PORT: 3000
      ML_API_URL: https://ml-production-e7e7.up.railway.app
      DATABASE_URL: postgresql://postgres:kNCECfGbXAxHUBugaJQaTIXDdHfOkeCc@hopper.proxy.rlwy.net:49027/railway
