version: '3.8'

services:
  backend-ts:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - '8080:3000'
      - '9229:9229'
    environment:
      PORT: 3000
      # Pastikan pakai host.docker.internal jika ML ada di local laptop
      ML_API_URL: http://host.docker.internal:8000
      # URL Database Railway (Sudah Benar)
      DATABASE_URL: postgresql://postgres:kNCECfGbXAxHUBugaJQaTIXDdHfOkeCc@hopper.proxy.rlwy.net:49027/railway
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    command: npm run dev
