version: '3.8'

services:
  backend-ts:
    container_name: be-sentinel-dev
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - '3000:3000'
      - '9229:9229'
    environment:
      NODE_ENV: development
      PORT: 3000
      DATABASE_URL: postgresql://postgres:password@postgres:5432/sentinel
      ML_API_URL: http://ml-api:8000
    depends_on:
      - postgres
      - ml-api
    volumes:
      - .:/usr/src/app
      - node_modules:/usr/src/app/node_modules
    command: npm run dev

  postgres:
    container_name: postgres-sentinel
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: sentinel
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

  ml-api:
    container_name: ml-api-dev
    build:
      context: ./script
    ports:
      - '8000:8000'

volumes:
  node_modules:
  postgres_data:
