version: '3.8'

services:
  backend-ts:
    build:
      context: .
      dockerfile: Dockerfile.dev # 1. Menggunakan Dockerfile khusus dev
    ports:
      - '8080:8080' # <-- Ubah port di komputer Anda menjadi 8080
      - '9229:9229' # 2. Port untuk debugging Node.js (dari flag --inspect)
    environment:
      PORT: 3000
      ML_API_URL: http://ml-api:8000 # Aplikasi di dalam kontainer tetap berjalan di port 3000
    depends_on:
      - ml-api
    volumes:
      - .:/usr/src/app # 3. Mount kode sumber lokal ke dalam container
      - /usr/src/app/node_modules # 4. Mencegah folder node_modules lokal menimpa yang ada di container
    command: npm run dev # 5. Menjalankan aplikasi dalam mode watch

  ml-api:
    build:
      context: ./script
    ports:
      - '8000:8000'
