version: '3.8'

services:
  backend-ts:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - '8080:3000'
      - '9229:9229'
    environment:
      PORT: 3000
      ML_API_URL: http://ml-api:8000

      DATABASE_URL: postgresql://postgres:fluctlight@db:5432/sentinel?schema=public
    depends_on:
      - ml-api
      - db
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    command: npm run dev

volumes:
  postgres_data:
