version: '3.8'
services:
  backend-ts:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '8080:3000'
    env_file:
      - .env # Docker akan membaca semua variabel dari file .env
